<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your brand name</label>
    <input type="brand_name" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Describe your brand in 260 characters</label>
    <input type="brand_name" class="form-control" aria-describedby="emailHelp">
  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Location</label>
    <input type="brand_name" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Website</label>
    <input type="brand_name" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to share my data with StoryDeck</label>
  </div>
<a class="btn btn-secondary" href="/businesses/">Save</a>
</form>
