<div class="container border-custom mt-5"></div>
<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fas fa-user mr-5"></i></a>
    <a href="#"><i class="fas fa-list"></i></a>
    <a href="#"><i class="fas fa-comment ml-5"></i></i></a>
  </div>

</div>
