<nav class="navbar navbar-dark bg-custom-light">
            <a href="/" class="nav-logo"> <%= image_tag "logo_dark.png", height: "30px", :alt=>"Story Deck logo dark" %> </a>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <ul class="nav-menu d-flex flex-column justify-content-start">
                  <li class="nav-item">
                      <a href="/stories" class="nav-link">Discover</a>
                  </li>
                  <li class="nav-item">
                      <a href="/dashboard" class="nav-link">Dashboard</a>
                  </li>

                    <li class="nav-item">
                      <a href="#" class="nav-link">Chats</a>
                  </li>
                  <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                  </li>
            </ul>
            </div>
        </nav>
