<nav class="navbar navbar-dark bg-custom-light">
            <a href="/" class="nav-logo"> <%= cl_image_tag "https://res.cloudinary.com/novapixels/image/upload/v1637855910/Story%20Deck/logo_dark_kxfdrl.png", :height=>30, :alt=>"Story Deck logo dark" %> </a>
        </nav>
