// Specific CSS for your home-page

.header-div {
  height: 80vh;
  background-size: cover;
  background-image: linear-gradient(rgba(41,50,118,0.5),rgba(41,50,118,0.4)), url(https://res.cloudinary.com/novapixels/image/upload/v1637876236/Story%20Deck/landing-header-img_vcdqne.png);
}
