<div class="container">
  <h3>Hey</h3>
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="/businesses/:business_id/storie" class="tab-underlined active">Business</a>
    </li>
    <li>
      <a href="/stories" class="tab-underlined">My stories</a>
    </li>
    <li>
      <a href="/chatrooms" class="tab-underlined">Conversations</a>
    </li>
  </ul>

<div class="card-info">
</div>
Your business information!

</div>
