<% @skip_navbar %>
<div class="row text">
    <div class="col d-flex align-items-center header-div">
      <div class="container text-center">
      <h1 class="text-custom-light">Story Deck</h1>

      <p class="lead text-custom-light">Find your ideal storyteller</p>
      <!-- Sign up / Sign in -->
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-custom btn-custom-light mb-3 btn-wide' %></span><br>
      <span><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-lg btn-custom btn-custom-light-outline btn-wide' %></span>
    </div>

  </div>
</div>
<div>
