<div class="container">

  <h4>Find your next collab</h4>

 <% @stories.each do |story| %>
 <div class="card-product">
    <h6><%= link_to story.title, business_story_path(@business, story)  %></h6>
    <% story.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
    <% end %>
  <% end %>
</div>
</div>
