
<div class="container">
  <div class="" style="width: 21rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title"><%= @story.title %></h3>
      <h4 class="white">Who is it we want to reach?</h4>
      <!-- categories -->
      <h4>About us</h4>
      <p class="card-text"><%= @business.description %></p>
      <a href="#" class="btn btn-custom btn-custom-dark">Start a conversation</a>
      <%= link_to 'Edit this story', edit_business_story_path(@business, @story), class: 'btn btn-custom btn-custom-dark-outline' %>
    </div>
  </div>
</div>
