<div class="container">
  <div class="show-img-box mt-5">
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div>
      <img class="avatar-large" alt="avatar-large" src="" />
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= @story.title %></h3>
      <p class="card-text"><%= @story.description %></p>
      <h4>Who is it we want to reach?</h4>
      <!-- criteria -->
      <h4>About us</h4>
      <p><%= @story.business.description %></p>
    </div>
  </div>
  <a href="#" class="btn btn-dark">Start a conversation</a>
  <a href="/stories" class="btn btn-ghost">Browse stories</a>


</div>
