.btn-custom {
  border-radius: 30px;
  padding: 5px 50px;
}
.btn-custom-light {
  color: #293276;
  background-color: #F7EEE7;
}
.btn-custom-dark {
  background-color: #293276;
  color: #F7EEE7;
}
.btn-custom-light-outline {
  border: 2px solid #F7EEE7;
  color: #F7EEE7;
}
.btn-custom-light-outline:hover {
  border: 2px solid #F7EEE7;
  color: #293276;
  background-color: #F7EEE7;
}
.btn-custom-dark-outline {
  border: 2px solid #293276;
  color: #293276;
}
.btn-custom-dark-outline:hover {
  border: 2px solid #293276;
  color: #F7EEE7;
  background-color: #293276;
}
