.footer {
  background: #F7EEE7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
}
.border-custom {
  background-color: #293276;
  height: 1px;
  opacity: 0.4;
}
.footer-links {
  height: 40px;
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #293276;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
}

.page-container {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
}
